body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 600px;
    height: 300vh;
    background-color: skyblue;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.block {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    background-color: seagreen;
    
    
animation-fill-mode: backwards;
}

.block:nth-child(even) {
    align-self: flex-end;
}


@keyframes rotating {
    0%{
        transform: rotate(0);
        background-color: blue;
    }
    5% {
        background-color: red;
    }
    10% {
        background-color: blueviolet;
    }
    15% {
        background-color: chartreuse;
    }
    20% {
        background-color: green;
    }
    25% {
        background-color: yellow;
    }
    30% {
        background-color: red;
    }
    35% {
        background-color: blueviolet;
    }
    40% {
        background-color: chartreuse;
    }
    45% {
        background-color: green;
    }
    50% {
        background-color: yellow;
    }
    55% {
        background-color: red;
    }
    60% {
        background-color: blueviolet;
    }
    60% {
        background-color: chartreuse;
    }
    65% {
        background-color: green;
    }
    70% {
        background-color: yellow;
    }
    75% {
        background-color: red;
    }
    80% {
        background-color: blueviolet;
    }
    85% {
        background-color: chartreuse;
    }
    90% {
        background-color: green;
    }
    95% {
        background-color: yellow;
    }
    100%{
        transform: rotate(90deg);
    }
}

.title {
    font-size: 2em;
}